.header {
    &__switcher {
        display: flex;
        padding: 0;

        input {
            margin: 0 !important;
            height: 20px !important;
        }

        @media(max-width: 539px) {
            display: none;
        }
    }
}