.calc {
    & .container {
      // position: relative;
      // overflow: hidden;
      overflow-x: clip;
    }
    
    &__bg {
      background-repeat: no-repeat;
      background-size: contain;
      //background-image: url("../assets/img/planet@1x.png");

      //transform: translateY(-100vh);

      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 50%;
      z-index: -1;
      transform: translate(-25%, 100vh);
      transition: transform 0.7s 0.2s ease-out;

      &.js-intersected {
        transform: translate(-35%, 12vh);
      }

      .webp & {
          background-image: url("../assets/img/planet@1x.webp");

          @media (min-resolution: 1.5dppx) and (min-resolution: 144dpi) {
              background-image: url("../assets/img/planet@2x.webp");
          }
      }
      
      .no-webp & {
          background-image: url("../assets/img/planet@1x.png");
      
          @media (min-resolution: 1.5dppx) and (min-resolution: 144dpi) {
              background-image: url("../assets/img/planet@2x.png");
          }
      }
    }

    /*.webp & {
        background-image: url("../assets/img/bg-section_41@1x.webp");

        @media (min-resolution: 1.5dppx) and (min-resolution: 144dpi) {
            background-image: url("../assets/img/bg-section_41@2x.webp");
          }
  
          @media(max-width: 960px) {
            background-image: url("../assets/img/bg-section-tablet_41@1x.webp");
  
            @media (min-resolution: 1.5dppx) and (min-resolution: 144dpi) {
              background-image: url("../assets/img/bg-section-tablet_41@2x.webp");
            }
          }
  
          @media(max-width: 480px) {
            background-image: url("../assets/img/bg-section-mobile_41@1x.webp");
  
            @media (min-resolution: 1.5dppx) and (min-resolution: 144dpi) {
              background-image: url("../assets/img/bg-section-mobile_41@2x.webp");
            }
          }
        }
      
        .no-webp & {
          background-image: url("../assets/img/bg-section_41@1x.jpg");
      
          @media (min-resolution: 1.5dppx) and (min-resolution: 144dpi) {
            background-image: url("../assets/img/bg-section_41@2x.jpg");
          }
  
          @media(max-width: 960px) {
            background-image: url("../assets/img/bg-section-tablet_41@1x.jpg");
      
            @media (min-resolution: 1.5dppx) and (min-resolution: 144dpi) {
              background-image: url("../assets/img/bg-section-tablet_41@2x.jpg");
            }
          }
  
          @media(max-width: 480px) {
            background-image: url("../assets/img/bg-section-mobile_41@1x.jpg");
      
            @media (min-resolution: 1.5dppx) and (min-resolution: 144dpi) {
              background-image: url("../assets/img/bg-section-mobile_41@2x.jpg");
            }
          }
    }

    background-position: left bottom !important;*/

    &__desc {
        max-width: 460px;
    }

    &__field {
        height: 65px;
    }

    &__label {
        border: 1px solid #cecece;
    }
}

.fullpage-destroyed .calc {
    padding-bottom: 200px;

    @media(max-width: 960px) {
        padding-bottom: 150px;
    }
}