.main {
    .webp & {
        background-image: url("../assets/img/bg-section_1@1x.webp");

        @media (min-resolution: 1.5dppx) and (min-resolution: 144dpi) {
          background-image: url("../assets/img/bg-section_1@2x.webp");
        }

        @media(max-width: 960px) {
          background-image: url("../assets/img/bg-section-tablet_1@1x.webp");

          @media (min-resolution: 1.5dppx) and (min-resolution: 144dpi) {
            background-image: url("../assets/img/bg-section-tablet_1@2x.webp");
          }
        }

        @media(max-width: 480px) {
          background-image: url("../assets/img/bg-section-mobile_1@1x.webp");

          @media (min-resolution: 1.5dppx) and (min-resolution: 144dpi) {
            background-image: url("../assets/img/bg-section-mobile_1@2x.webp");
          }
        }
      }
    
      .no-webp & {
        background-image: url("../assets/img/bg-section_1@1x.jpg");
    
        @media (min-resolution: 1.5dppx) and (min-resolution: 144dpi) {
          background-image: url("../assets/img/bg-section_1@2x.jpg");
        }

        @media(max-width: 960px) {
          background-image: url("../assets/img/bg-section-tablet_1@1x.jpg");
    
          @media (min-resolution: 1.5dppx) and (min-resolution: 144dpi) {
            background-image: url("../assets/img/bg-section-tablet_1@2x.jpg");
          }
        }

        @media(max-width: 480px) {
          background-image: url("../assets/img/bg-section-mobile_1@1x.jpg");
    
          @media (min-resolution: 1.5dppx) and (min-resolution: 144dpi) {
            background-image: url("../assets/img/bg-section-mobile_1@2x.jpg");
          }
        }
    }

    &__desc {
        max-width: 335px;
    }

    &__form-title {
        max-width: 350px;
    }    
}

.fullpage-destroyed .main {
    padding-top: 200px;

    @media(max-width: 960px) {
        padding-top: 150px;
    }
}