.news {
    /*.webp & {
        background-image: url("../assets/img/bg-section_5@1x.webp");

        @media (min-resolution: 1.5dppx) and (min-resolution: 144dpi) {
          background-image: url("../assets/img/bg-section_5@2x.webp");
        }

        @media(max-width: 960px) {
          background-image: url("../assets/img/bg-section-tablet_5@1x.webp");

          @media (min-resolution: 1.5dppx) and (min-resolution: 144dpi) {
            background-image: url("../assets/img/bg-section-tablet_5@2x.webp");
          }
        }

        @media(max-width: 480px) {
          background-image: url("../assets/img/bg-section-mobile_5@1x.webp");

          @media (min-resolution: 1.5dppx) and (min-resolution: 144dpi) {
            background-image: url("../assets/img/bg-section-mobile_5@2x.webp");
          }
        }
      }
    
      .no-webp & {
        background-image: url("../assets/img/bg-section_5@1x.jpg");
    
        @media (min-resolution: 1.5dppx) and (min-resolution: 144dpi) {
          background-image: url("../assets/img/bg-section_5@2x.jpg");
        }

        @media(max-width: 960px) {
          background-image: url("../assets/img/bg-section-tablet_5@1x.jpg");
    
          @media (min-resolution: 1.5dppx) and (min-resolution: 144dpi) {
            background-image: url("../assets/img/bg-section-tablet_5@2x.jpg");
          }
        }

        @media(max-width: 480px) {
          background-image: url("../assets/img/bg-section-mobile_5@1x.jpg");
    
          @media (min-resolution: 1.5dppx) and (min-resolution: 144dpi) {
            background-image: url("../assets/img/bg-section-mobile_5@2x.jpg");
          }
        }
    }*/

    background: #2B1C53;

    a {
      transition: opacity 0.3s 0.05s linear;
    }

    a:hover,
    a:focus {
      opacity: 0.7;
    }

    svg {
      fill: none;
    }

    /* ul {
      @media(max-width: 960px), (min-height: 960px) {
        max-height: 500px;
        overflow: hidden;
        overflow-y: auto;
      }
    } */

    li:last-child {
      border-bottom: 0 !important;
    }

    /*&__slider {
        img {
            width: 100%;
            height: 100%;
            max-height: 220px;
            object-fit: cover;
        }

        &-item {
            width: 360px;

            @media(max-width: 500px) {
                width: 280px;
            }
        }

        &-content {
            h3 {
                max-width: 275px;
            }
            
            a {
                width: fit-content;
                margin: 0 auto;
            }
        }
    }

    .swiper-container {
        position: relative;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        display: none;
    }

    //my-buttons
    .news-slider-button-prev,
    .news-slider-button-next {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;

        border: 2px solid $white;
    }

    .news-slider-button-prev {
        left: 200px;
        background-image: url("../assets/img/slider-arr.svg");
        transform: rotate(180deg);

        @media(max-width: 1800px) {
            left: 100px;
        }

        @media(max-width: 1440px) {
            display: none;
        }
    }

    .news-slider-button-next {
        right: 200px;
        background-image: url("../assets/img/slider-arr.svg");

        @media(max-width: 1800px) {
            right: 100px;
        }

        @media(max-width: 1440px) {
            display: none;
        }
    }*/
}