.partners {
    .webp & {
        background-image: url("../assets/img/bg-section_3@1x.webp");

        @media (min-resolution: 1.5dppx) and (min-resolution: 144dpi) {
          background-image: url("../assets/img/bg-section_3@2x.webp");
        }
      }
    
      .no-webp & {
        background-image: url("../assets/img/bg-section_3@1x.jpg");
    
        @media (min-resolution: 1.5dppx) and (min-resolution: 144dpi) {
          background-image: url("../assets/img/bg-section_3@2x.jpg");
        }
    }
}