-
  const pageList = [
    {
      num: '01',
      title: 'О компании'
    },
    {
      num: '02',
      title: 'Инвесторам'
    },
    {
      num: '03',
      title: 'Партнерам'
    },
    {
      num: '03',
      title: 'Кулькулятор'
    },
  ]

-
  const socialList = [
    {
      title: 'Facebook',
      icon: '#icon-fb',
      link: '#'
    },
    {
      title: 'Instagram',
      icon: '#icon-insta',
      link: '#'
    },
    {
      title: 'Яндекс.Дзен',
      icon: '#icon-yandex',
      link: '#'
    },
  ]

footer.footer
  .container.d-flex.align-items-center.py-3.py-md-4.m-auto.row
    .footer__page-num.col-4.m-0.d-flex.align-items-center
      span.text-uppercase.text-white.font-mono 01
      span.separator.mx-3.d-block
      span.text-uppercase.text-white.font-mono О Компании

    ul.col-6.col-sm-12.col-lg-8.m-0.p-0.d-flex.align-items-center.justify-content-start.justify-content-sm-center.justify-content-lg-end
      each social in socialList
        li.footer__social-item
          a(href="#" aria-label=social.title)
            svg(width="25" height="25")
              use(xlink:href=social.icon)

    .form-check.form-switch.footer__switcher.col-6.align-items-center.justify-content-end.m-0
      label.form-check-label.text-white.pe-2(for="langSwitcherFooter") ENG
      input.form-check-input(type="checkbox" role="switch" id="langSwitcherFooter")
      label.form-check-label.text-white.ps-2(for="langSwitcherFooter") РУС

    
      

    
      
    