header.header
  .container.d-flex.align-items-center.py-3.py-lg-5.m-auto.row
    .header__logo.col-3
      img(src="./assets/img/logo@1x.png"  srcset="./assets/img/logo@2x.png" alt="Логотип" width="182" height="45")

    a(href='#')#scrollUpBtn.scroll-button.scroll-button--header.p-0
      svg(width="60" height="60")
        use(xlink:href="#icon-arr-tr")
    
    .header__nav.d-flex.flex-column.align-items-end.ms-auto.col-9
      include ./nav

      .form-check.form-switch.header__switcher
        label.form-check-label.text-white.pe-2(for="langSwitcherHeader") ENG
        input.form-check-input(type="checkbox" role="switch" id="langSwitcherHeader")
        label.form-check-label.text-white.ps-2(for="langSwitcherHeader") РУС
      