section.section.calc.fp-slide.fp-noscroll(data-anchor="fp-slide_4")
  .container.d-flex.align-items-start.m-auto.row
    .col-12.col-sm-10.col-xl-6.d-flex.flex-column.align-items-center.m-auto.p-0
      h2.fs-1.font-mono.text-white.mb-2.mb-xl-4.text-uppercase Калькулятор

      p.calc__desc.text-white.text-center.font-sec.mb-3.mb-xl-5 Рассчитайте ожидания от вложений средств под % на заданном промежутке времени.

      #app